<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>40000</string>
	<key>info</key>
	<string>success</string>
	<key>resobj</key>
	<dict>
		<key>income</key>
		<string>30.00</string>
		<key>expenditure</key>
		<string>30.00</string>
		<key>currentTime</key>
		<string>2017-10-20</string>
		<key>records</key>
		<string>2</string>
	</dict>
	<key>clac</key>
	<array>
		<dict>
			<key>clacDate</key>
			<string>2017-10</string>
			<key>monthIncome</key>
			<string>20.00</string>
			<key>expenditure</key>
			<string>20.00</string>
		</dict>
		<dict>
			<key>clacDate</key>
			<string>2017-9</string>
			<key>monthIncome</key>
			<string>20.00</string>
			<key>expenditure</key>
			<string>20.00</string>
		</dict>
	</array>
	<key>rows</key>
	<array>
		<dict>
			<key>firstID</key>
			<string>1</string>
			<key>name</key>
			<string>小学</string>
			<key>grades</key>
			<array>
				<dict>
					<key>threeID</key>
					<string>4</string>
					<key>name</key>
					<string>一年级</string>
				</dict>
				<dict>
					<key>threeID</key>
					<string>5</string>
					<key>name</key>
					<string>二年级</string>
				</dict>
				<dict>
					<key>threeID</key>
					<string>6</string>
					<key>name</key>
					<string>三年级</string>
				</dict>
				<dict>
					<key>threeID</key>
					<string>7</string>
					<key>name</key>
					<string>四年级</string>
				</dict>
				<dict>
					<key>threeID</key>
					<string>8</string>
					<key>name</key>
					<string>五年级</string>
				</dict>
				<dict>
					<key>threeID</key>
					<string>9</string>
					<key>name</key>
					<string>六年级</string>
				</dict>
			</array>
			<key>subjects</key>
			<array>
				<dict>
					<key>twoID</key>
					<string>17</string>
					<key>name</key>
					<string>语文</string>
				</dict>
				<dict>
					<key>twoID</key>
					<string>18</string>
					<key>name</key>
					<string>数学</string>
				</dict>
				<dict>
					<key>twoID</key>
					<string>19</string>
					<key>name</key>
					<string>英语</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>firstID</key>
			<string>2</string>
			<key>name</key>
			<string>初中</string>
			<key>grades</key>
			<array>
				<dict>
					<key>threeID</key>
					<string>10</string>
					<key>name</key>
					<string>一年级</string>
				</dict>
				<dict>
					<key>threeID</key>
					<string>11</string>
					<key>name</key>
					<string>二年级</string>
				</dict>
				<dict>
					<key>threeID</key>
					<string>12</string>
					<key>name</key>
					<string>三年级</string>
				</dict>
				<dict>
					<key>threeID</key>
					<string>13</string>
					<key>name</key>
					<string>中考</string>
				</dict>
			</array>
			<key>subjects</key>
			<array>
				<dict>
					<key>twoID</key>
					<string>20</string>
					<key>name</key>
					<string>语文</string>
				</dict>
				<dict>
					<key>twoID</key>
					<string>21</string>
					<key>name</key>
					<string>数学</string>
				</dict>
				<dict>
					<key>twoID</key>
					<string>22</string>
					<key>name</key>
					<string>英语</string>
				</dict>
				<dict>
					<key>twoID</key>
					<string>23</string>
					<key>name</key>
					<string>历史</string>
				</dict>
				<dict>
					<key>twoID</key>
					<string>24</string>
					<key>name</key>
					<string>地理</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>firstID</key>
			<string>3</string>
			<key>name</key>
			<string>高中</string>
			<key>grades</key>
			<array>
				<dict>
					<key>threeID</key>
					<string>14</string>
					<key>name</key>
					<string>一年级</string>
				</dict>
				<dict>
					<key>threeID</key>
					<string>15</string>
					<key>name</key>
					<string>二年级</string>
				</dict>
				<dict>
					<key>threeID</key>
					<string>16</string>
					<key>name</key>
					<string>三年级</string>
				</dict>
			</array>
			<key>subjects</key>
			<array>
				<dict>
					<key>twoID</key>
					<string>25</string>
					<key>name</key>
					<string>语文</string>
				</dict>
				<dict>
					<key>twoID</key>
					<string>26</string>
					<key>name</key>
					<string>数学</string>
				</dict>
				<dict>
					<key>twoID</key>
					<string>27</string>
					<key>name</key>
					<string>英语</string>
				</dict>
				<dict>
					<key>twoID</key>
					<string>28</string>
					<key>name</key>
					<string>地理</string>
				</dict>
				<dict>
					<key>twoID</key>
					<string>29</string>
					<key>name</key>
					<string>化学</string>
				</dict>
				<dict>
					<key>twoID</key>
					<string>30</string>
					<key>name</key>
					<string>政治</string>
				</dict>
				<dict>
					<key>twoID</key>
					<string>31</string>
					<key>name</key>
					<string>物理</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
